@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html, body{
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
}

.container{
    height: 98%;
    width: 99%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #16a085;
    transition: background-color ease-in 1s;
}

.quote-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    padding: 2rem;
    border-radius: 3px;
    font-family: Raleway, serif;
    background-color: #ffffff;
    transition: color ease-in 1s;
    color: #2c3e50;
}

.quote-card .quote{
    display: flex;
    width: 100%;
    font-size: 2rem;
}

.quote-card .quote p{
    font-size: 2rem;
    margin: 10px 10px;
}

.quote-card .author{
    display: flex;
    width: 100%;
}

.quote-card .author p{
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
}

.quote-card .author p::before{
    content: "——";
}

.button-group{
    display: flex;
    justify-content: flex-start;
}

.btn{
    display: flex;
    padding: .75rem;
    text-align: center;
    border-radius: 3px;
    border: 0;
    margin: 3px;
    color: #ffffff;
    background-color: #2c3e50;
    transition: background-color ease-in 1s;
    text-decoration: none;
}

.btn i{
    width: 16px;
    height: 16px;
}

.social{
    text-align: center;
}

.next-quote{
    display: flex;
    margin-left: auto;
}
