*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    background-color: #000;
    border: 50px #1234cf solid;
    width: 100%;
    height: 100%;
}

.temperature{
    color: #fff;
    font-size: 120px;
    text-align: center;
    line-height: 240px;
    height: 240px;
}

.temperature::after{
    content: attr(data-scale);
    font-size: 60px;
}

.info{
    color: white;
    font-size: 32px;
    text-align: center;
}

.indices{
    color: white;
}